body {
    font-family: "Gill Sans MT","Gill Sans", Calibri, sans-serif;
    text-align: center;
    margin: 0;
    background-color: black;
    color: white;
}

#game {
    margin: auto;
    position: relative;
}

canvas, .pause {
    position: absolute;
    top: 0;
    left: 0
}

.pause {
    font-size: 4em;
    padding: 1.5em;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgba(96, 96, 96, 0.75);
}